@model IEnumerable<CategoryModel>
@{
    ViewData["Title"] = "Categories";
}

<div class="text-center">
    <div class="row pt-4" style="width:90%">
        <div class="col-6">
            <h2>Categories</h2>
        </div>
        <div class="col-6 text-end pt-2">
            <a asp-controller="Category" asp-action="Add" style="text-decoration:none">Add new category</a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" style="width:90%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Category
                </th>
                <th>
                    Description
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td style="width:5%">
                        @obj.Id
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td style="width:160px">
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"
                            class="btn btn-info mx-2">Edit</a>
                        </div>
                    </td>
                    <td style="width:160px">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"
                                class="btn btn-danger mx-2">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
